
IO_LOC "CLKIN_27" 52;
IO_PORT "CLKIN_27" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "KEY[0]" 3;
IO_LOC "KEY[1]" 4;
IO_PORT "KEY[*]" PULL_MODE=UP;

IO_LOC "LED[0]" 10;
IO_LOC "LED[1]" 11;
IO_LOC "LED[2]" 13;
IO_LOC "LED[3]" 14;
IO_LOC "LED[4]" 15;
IO_LOC "LED[5]" 16;
IO_PORT "LED[*]" PULL_MODE=UP DRIVE=8;

IO_LOC "JTAG_TDI" 32;
IO_LOC "JTAG_TMS" 31;
IO_LOC "JTAG_TCK" 49;
IO_LOC "JTAG_TDO" 48;

IO_LOC "UART0_TXD_O" 69;
IO_LOC "UART0_RXD_I" 68;

IO_LOC "SPIM1_SS"    60;
IO_LOC "SPIM1_SCLK"  59;
IO_LOC "SPIM1_MOSI"  61;
IO_LOC "SPIM1_MISO"  62;

